@import "colors";

form  {
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="file"],
input[type="tel"],
input[type="url"],
select,
textarea,
textarea[type=text]  {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  transition: all .2s ease;
  border-width: 1px;
  border-color: $black;
  border-style: solid;
  border-radius: 2px;

  &:focus  {
    border-color: $black;
    transition: all .2s ease;
  }
}

input, textarea  {
  padding: .9rem 1rem .9rem 2rem;
}

select  {
  background: #fff;
  padding: .9rem .5rem .9rem .5rem;
  margin: 1.2rem 0;
}

textarea  {
  resize: vertical;
  min-height: 12rem;
  margin: 0;
}

.ekutumb-input-field  {
  span:before  {
    cursor: pointer;
    position: relative;
    font-family: 'fontawesome';
    top: 3rem;
    left: .6rem;
    color: $black;
  }
}

.ekutumb-text-area-field  {
  span:before  {
    top: 1.8rem;
  }
}

.ekutumb-user-icon:before  {
  content: '';
}

.ekutumb-email-icon:before  {
  content: '';
}

.ekutumb-edit-icon:before  {
  content: '';
}

.ekutumb-caret-icon:before {
  content: '▼';
}

label  {
  cursor: pointer;

  input[type="checkbox"] {
    display: none;

    + span:before  {
      content: '';
      font-family: 'fontawesome';
      border: 1px solid $black;
      padding: .4rem .4rem;
      border-radius: 2px;
      transition: .2s;
      color: rgba(255, 255, 255, 0);
      font-size: 16px;
    }
  }

  input[type="checkbox"]:checked + span:before  {
    content: '';
    font-family: 'fontawesome';
    border: 1px solid $black;
    padding: .4rem .4rem;
    border-radius: 2px;
    transition: .2s;
    color: $black;
    font-size: 16px;
  }

  input[type="radio"] {
    display: none;

    + span:before  {
      content: '';
      font-family: 'fontawesome';
      border: 1px solid $black;
      padding: .3rem .4rem;
      border-radius: 100%;
      transition: .2s;
      color: rgba(255, 255, 255, 0);
      font-size: 14px;
    }
  }

  input[type="radio"]:checked + span:before  {
    content: '';
    font-family: 'fontawesome';
    border: 1px solid $black;
    padding: .3rem .4rem;
    border-radius: 100%;
    transition: .2s;
    color: $black;
    font-size: 14px;
  }
}

.ekutumb-blue-input  {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="file"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea,
  textarea[type="text"]  {
    border-color: $green;

    &:focus  {
      border-color: $blue;
    }
  }

  span:before  {
    color: $green;
  }
}

.ekutumb-error-input  {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="file"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea,
  textarea[type="text"]  {
    border-color: $red;

    &:focus  {
      border-color: lighten($red, 10);
    }
  }

  span:before  {
    color: $red;
  }
}




.ekutumb-green-checkbox  {
  + span:before  {
    border-color: $green !important;
    color: rgba(255, 255, 255, 0) !important;
  }
}

.ekutumb-green-checkbox:checked + span:before  {
  color: $green !important;
}

.ekutumb-black-checkbox  {
  + span:before  {
    border-color: $black !important;
    color: rgba(255, 255, 255, 0) !important;
  }
}

.ekutumb-black-checkbox:checked + span:before  {
  color: $black !important;
}

/****responsive container****/
/* For desktop: */
.ekutumb-col-1 {width: 8.33%;}
.ekutumb-col-2 {width: 16.66%;}
.ekutumb-col-3 {width: 25%;}
.ekutumb-col-4 {width: 33.33%;}
.ekutumb-col-5 {width: 41.66%;}
.ekutumb-col-6 {width: 50%;}
.ekutumb-col-7 {width: 58.33%;}
.ekutumb-col-8 {width: 66.66%;}
.ekutumb-col-9 {width: 75%;}
.ekutumb-col-10 {width: 83.33%;}
.ekutumb-col-11 {width: 91.66%;}
.ekutumb-col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="ekutumb-col-"] {
    width: 90%;
margin:0 auto;


  }
}
.ekutumb-layout{
margin: 0 auto;
}
